// DONE 
$vrykul : #753209;
$tuskar : #f4b084;
$taunka : #333f4f;
$furbolg : #806000;
$earthen : #757171;
$iron_dwarf : #2f75b5;
$magnataur : #2f75b5;
$harpy : #8497b0;
$kvaldir : #548235;
$titanforged : #aeaaaa;
$mechagnome : #7030a0;
$frozen_giant : #305496;
$satyr : #ffc000; 
$hyldnir : #833c0c;
$frostborn : #bdd7ee;
$gorloc : #70ad47;
$bronze_dragon : #f6bb00;
$drakkari : #333f4f;
$northen_hunter : #9d6d49;

// TODO
$wolvar : rgba(198,89,17, 1);




